@font-face {
  font-family: Anonymous Pro;
  src: url(http://themes.googleusercontent.com/static/fonts/anonymouspro/v3/Zhfjj_gat3waL4JSju74E-V_5zh5b-_HiooIRUBwn1A.ttf);
}
h1 {
  color: blue;
  font-family: "Anonymous Pro";
  text-align: center;
}
h2 {
  font-size: 14px;
  font-weight: lighter;
  text-decoration: underline;
  text-indent: 24px;
  text-transform: lowercase;
  word-spacing: 8px;
}
p {
  background-color: black;
  color: yellow;
  font-size: 12px;
  line-height: 2;
  text-indent: 24px;
  white-space: pre;
}
.logo {
  max-width: 600px;
  margin: auto;
}
.logo img {
  border-color: red;
  border-style: solid;
  border-width: 2px;
}
#div1 {
  background-color: red;
  height: 50px;
  margin: 12px auto;
  width: 960px;
}
#div2 {
  background-color: red;
  height: 50px;
  left: 187px;
  position: relative;
  width: 960px;
}
#div3 {
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  height: 50px;
  margin: 12px auto;
  width: 960px;
}
.container {
  position: relative;
}
#divA {
  background-color: yellow;
  height: 50px;
  left: 195px;
  margin-bottom: 12px;
  position: absolute;
  width: 100px;
}
#divB {
  background-color: blue;
  height: 50px;
  margin-bottom: 12px;
  margin-left: 287px;
  margin-right: 187px;
}
#divC {
  background-color: yellow;
  float: left;
  height: 50px;
  margin-left: 187px;
  width: 100px;
}
#divD {
  background-color: blue;
  height: 50px;
  margin-left: 287px;
  margin-right: 187px;
}
